bs-drawer-width            ?= (bs-base-line-height * 10);
bs-drawer-max-width        ?= 80%;
bs-drawer-background-color ?= bs-light(bs-color-black);
bs-drawer-z-index          ?= 10;

[data-bs-component~="drawer-btn"] {
  position: relative;
  z-index: (bs-drawer-z-index + 1);
}

[data-bs-component~="drawer"] {
  position: relative;
}

[data-bs-component="drawer__body"] {
  position: absolute;
  z-index: bs-drawer-z-index;
  top: 0;
  left: -100%;
  bottom: 0;
  transition: left bs-transition-duration bs-transition-function-timing;
  width: bs-drawer-width;
  max-width: bs-drawer-max-width;
  background-color: bs-drawer-background-color;
  overflow-y: auto;

  &[aria-hidden="false"] {
    left: 0;
  }
}

[data-bs-component="drawer__submenu"] {
  height: 0;
  overflow: hidden;

  &[aria-hidden="false"] {
    height: auto;
    overflow: visible;
  }
}

[data-bs-component="drawer__toggle"] {
  cursor: pointer;
}
